:root {
  --bluish-purple: #6b3de4;
  --dull-orange: #d9a34a;
  --grey: #eeeeee;
  --white: #ffffff;
  --dull-orange-two: #d8a252;
  --cerulean: #007ac2;
  --teal-blue: #0080b9;
  --light-indigo: #674ed6;
  --charcoal-grey: #3b3d40;
  --greenish: #41a674;
  --steel-grey: #838d8f;
  --charcoal-grey-two: #3c3d41;

  --border-radius: 4px;
}